.wrapper {
	min-height: calc(100vh - 55px);
}

.main {
	width: 97%;
	margin: 50px auto 0;
}

.subscriptions_table {
	width: 100%;
}

.subscriptions_table thead {
	color: #fff;
}

.cancel_subscription_form input, .process_subscription_form input, .subscription_info input,
	.subscription_info button {
	width: 100%;
}

.filters {
	height: 70px;
	margin-bottom: 15px;
}

.filters p {
	font: normal 18px TTNormsRegular;
	margin-bottom: 15px;
}

.filters form {
	float: left;
	margin-right: 15px;
}

.filters form label {
	margin-right: 5px;
}

.courses_table {
	width: 90%;
	margin: 10px auto;
}

.courses_table thead {
	color: #000;
}

.courses_table img {
	height: 100px;
}